In [1]:
import pandas as pd

In [6]:
humans = pd.read_csv('data/responses.csv')

In [7]:
humans.head()

,Timestamp,Favorite programming language,Favorite Monty Python movie,Years of Python experience,Have used Scikit-learn,Age,"In the Terminator franchise, did you root for the humans or the machines?",Which is the better game?,Years of post-secondary education (e.g. BA=4; Ph.D.=10),How successful has this tutorial been so far?
0,4/8/2018 8:34:08,Python,Monty Python's Life of Brian,20.0,Yep!,53,Skynet is a WINNER!,"Tic-tac-toe (Br. Eng. ""noughts and crosses"")",12,8
1,4/8/2018 9:57:15,Python,Monty Python and the Holy Grail,4.0,Yep!,33,Team Humans!,Chess,5,9
2,4/8/2018 9:57:35,Python,Monty Python and the Holy Grail,1.0,Yep!,31,Team Humans!,Chess,10,10
3,4/8/2018 9:57:58,Python,Monty Python and the Holy Grail,12.0,Yep!,60,Team Humans!,"Tic-tac-toe (Br. Eng. ""noughts and crosses"")",10,6
4,4/8/2018 9:58:05,Python,Monty Python's The Meaning of Life,7.0,Yep!,48,Team Humans!,Go,6,10

In [20]:
humans.drop(columns='Timestamp', axis = 'columns', inplace = True)

In [21]:
humans_dummies = pd.get_dummies(humans)
humans_dummies.head()

,Years of Python experience,Age,How successful has this tutorial been so far?,Favorite programming language_C++,Favorite programming language_JavaScript,Favorite programming language_MATLAP,Favorite programming language_Python,Favorite programming language_R,Favorite programming language_Scala,Favorite programming language_Whitespace,...,Years of post-secondary education (e.g. BA=4; Ph.D.=10)_3,Years of post-secondary education (e.g. BA=4; Ph.D.=10)_4,Years of post-secondary education (e.g. BA=4; Ph.D.=10)_5,Years of post-secondary education (e.g. BA=4; Ph.D.=10)_6,Years of post-secondary education (e.g. BA=4; Ph.D.=10)_7,Years of post-secondary education (e.g. BA=4; Ph.D.=10)_8,Years of post-secondary education (e.g. BA=4; Ph.D.=10)_9,Years of post-secondary education (e.g. BA=4; Ph.D.=10)_BA = 4,Years of post-secondary education (e.g. BA=4; Ph.D.=10)_BA=5,Years of post-secondary education (e.g. BA=4; Ph.D.=10)_MD = 12
0,20.0,53,8,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4.0,33,9,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,1.0,31,10,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,12.0,60,6,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,7.0,48,10,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [49]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [23]:
X = humans_dummies.drop(columns = 'How successful has this tutorial been so far?')

In [111]:
y = (humans_dummies['How successful has this tutorial been so far?'] >= 5).astype(int).values

In [127]:
y = [1 if x >=5 else 0 for x in humans_dummies['How successful has this tutorial been so far?']]

In [128]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 0)

In [129]:
tree = RandomForestClassifier(max_depth = 10)

In [130]:
tree.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=10, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [131]:
tree.score(X_test, y_test)

0.8148148148148148